################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/6422c876-6ae1-4c91-8aa7-28f4b937a0f4.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/d4f375a0-5a5b-46b8-90d3-98b610108abe.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/87b0266e-d0c3-4d12-a116-29ab58e19193.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/8e801fc1-cece-44c1-9fbc-d26cfbfcf731.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/65800ad0-284d-4f7e-994b-9dd7621eb097.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/62d40cb8-f0e3-413e-b504-beb3e74de36a.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/2dbe8c3b-54c7-4aa4-8a8a-65e633930e73.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/e0a263e4-778a-43bd-b3ac-8faf7c3451b7.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/6390548e-6f40-4928-bb9e-6df2f6c4635c.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/4614211b-2c6e-40ef-ba3f-649326779b48.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/ab757f78-63a6-4bff-acfd-1491262afff4.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/d7a36512-9152-4106-b7ab-7dc0b4ec6892.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/22e250c1-c940-41a8-b3b6-5085be1235cb.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/15b9e400-c682-4894-af7c-113d64fb13a6.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/30342bb9-b74e-4326-adc4-607d3f9e01a8.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/68033662-2711-4c52-9922-5a1dbdbe55bd.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/9a0f7a44-8b54-4861-81a4-8f54315bd4df.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/d82d975e-2376-4613-8d1b-a406565a63d5.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/2cadacb3-2f30-496a-9e77-9857634b7ebe.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/aa0dcd24-6342-434b-8ec7-26491515f859.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/af465a87-39f0-48eb-a77c-8b839802fe8c.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/4a1c48bc-0c57-4291-8d79-62ddc475b744.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/a9234b3c-1b09-4bd0-b2cc-0162f572eb9e.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/143479cc-9a9c-4118-b5f0-0c8cd9d95457.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/45c6b6fe-da6d-4e4e-a2bd-5c620fbbb4c0.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/9e8849cd-9e7f-439e-8c38-9a1a144b8834.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/11ec94bf-91b3-4ede-9e3c-772639d43722.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/cd3b41c7-b62f-4595-9c80-a884056072d2.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/896d27b3-b1a0-4b40-8642-4ca514040e55.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/f83eb250-e2a6-4663-afc4-b78ef8e954c2.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/72ec2963-6503-46e5-b3ad-be6bed12789a.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/d6a318ba-ab7d-4538-86d7-51ca3fb2f401.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/ca33097e-ffdc-4852-bc76-b59a9f128f11.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/c32f7d20-1316-402b-b24c-5b67c1e9790c.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/5c9ad858-2f42-4086-9cfe-0544b95f35ae.vsidx
