################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/6422c876-6ae1-4c91-8aa7-28f4b937a0f4.vsidx
/ENL-Distrobution Storage/.vs/ENL-Distrobution Storage/FileContentIndex/d4f375a0-5a5b-46b8-90d3-98b610108abe.vsidx
